<nav class="navbar">
    <div class="container navbar-container">

        <a href="#home" class="logo">
            Jayshri<span>.</span>
        </a>

        <div class="nav-links">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#skills">Skills</a>
            <a href="#projects">Projects</a>
            <a href="#education">Education</a>
            <a href="#experience">Experience</a>
            <a href="#contact">Contact</a>
        </div>

        <a href="#contact" class="contact-btn">
            Let's Talk
        </a>

    </div>
</nav>